.calculator {
    width: 300px;
    margin: 100px auto;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
  }
  
  .display input {
    width: 100%;
    height: 50px;
    font-size: 24px;
    text-align: right;
    border: none;
    outline: none;
  }
  
  .keys {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 5px;
  }
  
  .keys button {
    height: 50px;
    font-size: 20px;
    border: none;
    border-radius: 5px;
    background-color: #f2f2f2;
    cursor: pointer;
  }
  
  .keys button:hover {
    background-color: #e6e6e6;
  }